.header {
	position: relative;
	height: 45px;
	margin: 0 40px;

	&__container {
		width: 100%;
		display: flex;
		align-items: end;
		justify-content: space-between;
		height: 100%;
		top: -100%;
		position: absolute;
		animation: header_drop 400ms 1s forwards linear;
	
		.navigation__list {
			list-style: none;
			
			.navigation__item {
				display: inline-block;
				margin: 0 10px;
				opacity: .7;
				transition: opacity 500ms linear;
	
				&:hover {
					opacity: 1;
				}
	
				.navigation__link {
					font-size: 1.1em;
					text-decoration: none;
					color: var(--theme-text-color);
				}
			}
	
			.active__item {
				opacity: 1;
			}
		}
	}
}

@keyframes header_drop {
	from {
		top: -45px;
	}
	to {
		top: 0;
	}
}