.contacts__form {
	font-size: 14px;
	line-height: 1.42857;
	width: 42%;
	color: #333333;
	
	.form__bottom {
		color: var(--theme-text-color);
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		span {
			font-size: 14px;
			line-height: 1.42857;
		}
	
		.form__submit {
			padding: 10px 15px;
			border-radius: 8px;
			border: none;
			background-color: inherit;
			text-transform: uppercase;
			font-size: 1em;
			font-weight: 600;
			letter-spacing: 1px;
			cursor: pointer;
			color: inherit;
			transition: opacity 300ms linear;
			margin-right: 30px;
	
			&:hover, &:focus {
				opacity: .5;
			}
		}
	}
}

@media (max-width: 992px) {
	.contacts__form {
		width: 100%;
	}
}